#customColor {
	color: #000000;
	text-decoration: none !important;
}

#customColor:hover {
	color: #E0674B;
	text-decoration: none !important;
}

a {
	text-decoration: none !important;
}

#myProjects {
	color: #ffffff;
	padding-top: 15px;
	padding-bottom: 15px;
}